name: Demonstrasi Trigger

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kod
        uses: actions/checkout@v4

      - name: Jalankan skrip automasi
        run: chmod +x ci.sh && ./ci.sh

      - name: Sediakan artifact
        uses: actions/upload-pages-artifact@v3

      - name: Lancar ke GitHub Pages
        uses: actions/deploy-pages@v4
